
        *{
            font-family: 'Poppins', sans-serif, system-ui, -apple-system;
        }

        body{
            position: relative;
            overflow-x: hidden;
            margin: 0px;
            padding: 0px;
            height: 100%;
            width: 100%;
            background: white;
            background-size: cover;
            background-repeat: no-repeat;
        }

        a{
            cursor: pointer;
            text-decoration: none;
        }

        textarea{
            height: 100px;
            width: 320px;
            padding: 15px;
            border-radius: 5px;
        }

        /*Beginning of the head section styling*/
        .headLinks{
            background: rgb(2,48,71);
            height: max-content;
            width: 100vw;
            font-size: x-large;
            padding: 15px;
            color: white;
        }

        .headLinks span{
            color: rgb(251,133,0);
            font-weight: bold;
        }



        .headLinks a{
            text-decoration: none;
            color: white;
            margin-left: 5vw;
            padding: 5px 10px 5px 10px;
        }

        .headLinks a:hover{
            color: rgb(2,48,71);
            background-color: white;
            border-radius: 3px;
            transition: 300ms;
            transition-delay: 50ms;
        }
        /*The end of the head styling*/



        /*The beginning of the footer styling*/
        .footer{
            margin-bottom: 5px;
            background: rgb(2,48,71);
            width: 100vw;
            height: max-content;
            padding: 10px 10px 5px 10px;
        }

        .grid{
            display: grid;
        }

        .contacts{
            font-size: 20px;
            margin-left: 10px;
            display: flex;
            flex-direction: column;
            grid-row: 1;
            grid-column: 1;
        }

        .contacts p{
            color: #fefae0;
        }

        .contacts a{
            text-decoration: none;
            color: white;
            padding: 0px 5px 0px 5px;
            width: max-content;
        }

        .contacts a:hover{
            color: black;
            background-color: white;
            border-radius: 4px;
        }

        .fa-solid{
            margin-right: 10px;
        }

        .fa-brands{
            margin-right: 10px;
        }

        .partners{
            grid-row: 1;
            grid-column: 2;
        }

        .partner{
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        .partners img{
            height: 100px;
            margin-right: 20px;
        }

        .partners p{
            color: white;
        }



        .copyright{
            color: white;
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-top: 30px;
            margin-bottom: 20px;
        }
        /*The end of the footer styling*/


        /*The beginning of the main home section styling*/
        .main{
            /* background-color: rgba(43,45,66,0.6); */
            height: auto;
            width: 100vw;
            background: #ffffff;
        }

        .userInfo{
            height: 25px;
            width: max-content;
            padding: 15px;
            color: rgb(2,48,71);
        }

        .welcome{
            display: flex;
            padding: 20px;
        }

        .welcome p{
            margin-top: 10px;
            font-weight: 550;
            font-size: 40px;
            color: black;
        }

        .dashboard{
            display: flex;
            flex-wrap: wrap;
            flex-grow: 0;
            flex-shrink: 0;
            gap: 50px;
            padding: 15px;
            text-align: center;
            margin-bottom: 80px;
        }

        .dashboard a{
            text-decoration: none;
            color: rgb(2,48,71);
        }

        .dashboardItem{
            padding: 10px;
            height: 250px;
            width: 250px;
            border-radius: 10px;
            box-shadow: 0px 1px 4px;
            opacity: 0.8;
            cursor: pointer;
        }

        .dashboardItem p{
            font-size: 60px;
        }

        .dashboardItem:hover{
            opacity: 100%;
            box-shadow: 0px 5px 10px;
            transition: 200ms;
            transition-delay: 50ms;
            background: rgba(254, 250, 224, 0.4);
        }
        /*The end of the main home section styling*/


        /*The beginning of the signup/register page*/
        .signup_main{
            margin: 80px;
            position: relative;
            height: max-content;
            width: 100vw;
            background: white;
            /* background-size: cover;
            background-repeat: no-repeat; */
        }

        .signup_form{
            padding: 15px;
            box-shadow: 0px 3px 8px;
            border-radius: 5px;
            background: #acc8ec;
            /* display: flex;
            flex-direction: row;
            justify-content: center; */
            height: max-content;
            max-width: max-content;
            color: #112a46;
        }

        .signup_form input{
            width: 350px;
            height: 40px;
            border-radius: 5px;
        }

        .signup_form input:required{
            border: 0px;
        }

        .signup_form select{
            width: 350px;
            height: 35px;
            border-radius: 5px;
        }

        .signup_form button{
            cursor: pointer;
            height: 30px;
            width: max-content;
            font-size: large;
            background: rgb(2,48,71);
            color: white;
            border: 0px;
        }

        .signup_form a{
            text-decoration: none;
            font-size: large;
            
        }

        .signup_form a:hover{
            color: rgb(255, 255, 255);
            text-decoration: underline;
        }

        .grid{
            display: grid;
        }

        .patientDetailsHeading2{
            grid-row: 1;
            grid-column: 1;
        }

        .patientDetails{
            display: grid;
            grid-row: 2;
            grid-column: 1;
        }

        .gridPatientDetails1{
            grid-row: 1;
            grid-column: 1;
            margin: 0px 50px 0px 50px;
        }

        .gridPatientDetails2{
            grid-row: 1;
            grid-column: 2;
            margin: 0px 50px 0px 50px;
        }
        
        .gridPatientDetails3{
            grid-row: 1;
            grid-column: 3;
            margin: 0px 50px 0px 50px;
        }


        .kinDetailsHeading2{
            grid-row: 3;
            grid-column: 1;
        }


        .nextOfKinDetails{
            display: grid;
            grid-row: 4;
            grid-column: 1;
        }

        .gridKinDetails1{
            grid-column: 1;
            grid-row: 1;
            margin: 0px 50px 0px 50px;
        }

        .gridKinDetails2{
            grid-column: 2;
            grid-row: 1;
            margin: 0px 50px 0px 50px;
        }

        .gridKinDetails3{
            grid-column: 3;
            grid-row: 1;
            margin: 0px 50px 0px 50px;
        }

        .signupPatientOrLoginRedirect{
            grid-row: 2;
            grid-column: 1;
            margin-top: 30px;
            margin-left: 50px;
        }


        /*The end of the signup/register page*/



        /*The beginning of the login page styling*/
        .loginMain{
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: center;
            height: 100vh;
            width: 100vw;
            background: white;
            color: rgb(2,48,71);
            text-align: center;
            font-weight: bold;
        }

        .loginMain input{
            padding: 10px;
            width: 350px;
            height: 40px;
            border: 0px;
            border-radius: 3px;
            box-shadow: 0px 4px 8px;
        }

        .loginForm{
            padding: 15px;
            margin-top: 20vh;
            width: max-content;
            height: max-content;
            border: 1px solid whitesmoke;
            box-shadow: 5px 5px 5px black;
            border-radius: 10px;
            background: rgb(236, 230, 230);
        }


        .loginForm button{
            padding: 5px 10px 5px 10px;
            border: 0px;
            background-color: white;
            color: rgb(2,48,71);
            font-size: 22px;
            border-radius: 3px; 
            cursor: pointer;

        }

        .loginForm button:hover{
            color: green;
            background: white;
            transition: 300ms;
            transition-delay: 50ms;
        }

        .loginForm a{
            text-decoration: none;
            color: rgb(2,48,71);
            font-weight: 300;
            padding: 5px 10px 5px 10px;
            border-radius: 4px;
        }

        .loginForm a:hover{
            color: rgb(2,48,71);
            background: white;
            transition: 300ms;
            transition-delay: 50ms;
        }

        /*The end of the login page styling*/


        /*The beggining of the support page styling*/
        .supportMain{
            position: relative;
            height: 100vh;
            width: 100vw;
            background: rgba(43,45,66,0.6);
        }

        .supportMain input{
            width: 350px;
            height: 35px;
            border: 0px;
            border-radius: 5px;
        }

        .supportMain button{
            height: 35px;
            width: max-content;
        }

        .search{
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        /*The end of the support page styling*/


        /*The beginning of the refer page styling*/
        .referMain{
            height: 100vh;
            width: 100vw;
            background: rgba(43,45,66,0.6);
        }

        .referWelcome{
            color: white;
            font-weight: bold;
        }
        /*The end of the refer page styling*/




        /*The start of the patient search*/
        .searchPatientMain{
            padding: 15px;
            height: 100vh;
            background: white;
        }

        .searchBox{
            padding: 15px;
        }

        .searchBox input{
            height: 40px;
            width: 400px;
            border-radius: 10px;
        }

        .searchBox button{
            background: transparent;
            height: 45px;
            border: 0px;
            transform: translateX(-40px);
            z-index: 2;
        }

        .searchBox button:hover{
            color: red;
            cursor: pointer;
        }

        #idMethod{
            height: 45px;
            padding: 3px;
            width: max-content;
            border-radius: 5px;
            border: 0.3px solid grey;
        }
        /*The end of the patient search*/


        /*The beginning of the page loading styling*/
        .loading{
            background: rgba(43,45,66,0.6);
            height: 100vh;
            width: 100vw;
            display: flex;
            flex-direction: row;
            justify-content: center;
            text-align: center;
        }

        .loadingMain{
            margin-top: 20vh;
        }

        .loading p{
            color: white;
            font-size: 25px;
            font-weight: bold;
        }

        /*The end of the page loading styling*/
